@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bungee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Playwrite+MX+Guides&family=Press+Start+2P&family=VT323&display=swap");
.nata-sans {
  font-family: "Nata Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.press-2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.bodoni {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.playwrite {
  font-family: "Playwrite MX Guides", cursive;
  font-weight: 100;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* COLORS */

/* text colors */
.brown-100 {
  color: #9c6f44;
}

.brown-200 {
  color: #724e2c;
}

.brown-300 {
  color: #6f4827;
}

.brown-400 {
  color: #563517;
}

.brown-500 {
  color: #271300;
}

/* background colors */
.bg-brown-100 {
  background-color: #9c6f44;
}

.bg-brown-200 {
  background-color: #724e2c;
}

.bg-brown-300 {
  background-color: #6f4827;
}

.bg-brown-400 {
  background-color: #563517;
}

.bg-brown-500 {
  background-color: #271300;
}
