@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bungee&family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Pinyon+Script&family=Playwrite+MX+Guides&family=Press+Start+2P&family=VT323&display=swap");

.nata-sans {
  font-family: "Nata Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.press-2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.bodoni {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.playwrite {
  font-family: "Playwrite MX Guides", cursive;
  font-weight: 100;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.pinyon-script {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.italiana {
  font-family: "Italiana", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.syne-400 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.syne-500 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.syne-600 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.syne-700 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.syne-800 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.rubik {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* COLORS */

/* text colors */
.brown-100 {
  color: #9c6f44;
}

.brown-200 {
  color: #724e2c;
}

.brown-300 {
  color: #6f4827;
}

.brown-400 {
  color: #563517;
}

.brown-500 {
  color: #271300;
}

/* background colors */
.bg-brown-100 {
  background-color: #9c6f44;
}

.bg-brown-200 {
  background-color: #724e2c;
}

.bg-brown-300 {
  background-color: #6f4827;
}

.bg-brown-400 {
  background-color: #563517;
}

.bg-brown-500 {
  background-color: #271300;
}

.almond-cream {
  color: #f6e9d9;
}

.bg-almond-cream {
  background-color: #f6e9d9;
}

.evergreen {
  color: #146c4e;
}

.evergreen-dark {
  color: #093828;
}

.bg-evergreen {
  background-color: #146c4e;
}

.bg-evergreen-dark {
  background-color: #093828;
}

.bg-almond-cream-90 {
  background-color: #f6e9d9e7;
}

.bg-almond-cream-80 {
  background-color: #f6e9d9c4;
}

.bg-almond-cream-70 {
  background-color: #f6e9d9a1;
}

.bg-almond-cream-60 {
  background-color: #f6e9d988;
}

.border-almond-cream {
  border-color: #f6e9d9e7;
}

.border-evergreen {
  border-color: #146c4e;
}

.coffee {
  color: #493628;
}

.bg-coffee {
  background-color: #493628;
}

.text-cherry-red {
  color: #9a0002;
}

.bg-cherry-red {
  background-color: #9a0002;
}

.border-cherry-red {
  border-color: #9a0002;
}

.outline-cherry-red {
  outline-color: #9a0002;
}

.shadow-cherry-red {
  box-shadow: 0 0 5px #9a0002;
}

.text-vanilla {
  color: #efe6de;
}

.bg-vanilla {
  background-color: #efe6de;
}

.border-vanilla {
  border-color: #efe6de;
}

.outline-vanilla {
  outline-color: #efe6de;
}

.shadow-vanilla {
  box-shadow: 0 0 5px #efe6de;
}

/* pearl (#FFF7E6) */
.text-pearl {
  color: #fff7e6;
}

.bg-pearl {
  background-color: #fff7e6;
}

.border-pearl {
  border-color: #fff7e6;
}

.outline-pearl {
  outline-color: #fff7e6;
}

.shadow-pearl {
  box-shadow: 0 0 5px #fff7e6;
}

/* midnight (#102E4A) */
.text-midnight {
  color: #102e4a;
}

.bg-midnight {
  background-color: #102e4a;
}

.border-midnight {
  border-color: #102e4a;
}

.outline-midnight {
  outline-color: #102e4a;
}

.shadow-midnight {
  box-shadow: 0 0 5px #102e4a;
}
